@page
@model ProyPage1.Pages.Profesores.ListadoModel
@{
}
 <a asp-page="Nuevo" class="btn btn-default">Nuevo</a>
 <table class="table">
        <thead>
            <tr>
                <th>Legajo</th>
                <th>
                    <a asp-page="./ProfesorList" asp-route-sortOrder="OrdenPorApellido">
                        Apellido
                    </a>
                </th>
                <th>
                    <a asp-page="./ProfesorList" asp-route-sortOrder="OrdenPorNombre">
                        Nombre
                    </a>
                    
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>

    @foreach (var item in Model.Profesores)
{
    <tr>
        <td>@item.Legajo</td>
        <td>@item.Apellido</td>
        <td>@item.Nombre</td>
        <td>
            <a asp-page="./Editar" asp-route-leg="@item.Legajo">Editar</a> | 
            <a asp-page="Listado"  onclick="return confirm('Are you sure you want to delete this?')" asp-page-handler="delete" asp-route-legajoborrar="@item.Legajo">Borrar con A</a>
        </td>
    </tr> 
} 
        </tbody>
    </table>